body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 50px;
}

h2 {
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 60px;
}

li {
  margin: 10px 0;
}

.intro {
  display: table;
}

.intro p {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}

.post p {
  margin: 20px 10px;
}

.container {
  width: 720px;
  margin: 50px auto;
}

pre {
  padding: 20px;
  margin: 10px 50px;
  overflow: scroll;
  background: #ccc;
}

.post img {
  margin: 0 50px;
}
